* {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
}

@media screen and (max-width: 750px){ 
	html{font-size:30px;} 
} 

@media screen and (min-width:640px) and (max-width:749px){ 
	html{font-size:25px; } 
}

@media screen and (min-width:480px) and (max-width:639px){ 
	html{font-size:20px; } 
} 

@media screen and (min-width:320px) and (max-width:479px){
	html{font-size:15px; } 
}


#result {
	width: 100%;
	background: url(../img/result_bg.png) no-repeat;
	background-size: 100%; 
	position: relative;
	overflow: hidden;
}

.result-header {
	position: absolute;
	height: 4rem;
	width: 100%;
	background: url(../img/result_header.png) no-repeat 0px -1rem;
	background-size: 100%; 
}

.result-photo {
	position: absolute;
	width: 100%;
	height: 15rem;
	background-color: red;
}

.result-tag {
	width: 19rem;
	height: 7.5rem;
	position: relative;
	background: url(../img/result_tag.png) no-repeat;
	background-size: 100%; 
	margin:0 auto;
	margin-top: 16rem; 
}

.result-dog {
	width: 3rem;
	height: 3rem;
	background: url(../img/result_dog.png) no-repeat;
	position: absolute;
	right: 4rem;
	top: 31%;
	background-size: 100%; 
}

.result-res {
	width: 90%;
	height: 4rem;
	font-size: 1rem;
	margin: 0px auto;
}

.result-bottom {
	position: absolute;
	width: 100%;
	height: 2rem;
	bottom: 0px;
	background: url(../img/result_bottom.png) no-repeat 0px bottom;
	background-size: 100%; 
}

.result-child {
	position: absolute;
	width: 10rem;
	height: 8rem;
	right: 0px;
	bottom: 2rem;
	background: url(../img/result_child.png) no-repeat right bottom;
	background-size: 100%; 
}